@tailwind components;
@tailwind utilities;

.big-toc .table-of-contents ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.big-toc .table-of-contents ul li {
  box-sizing: border-box;
  width: 30%;
  margin-bottom: 5px;
  font-size: 14px;
  padding-right: 10px;
}

.side-by-side {
  display: flex;
  flex-wrap: wrap;
}

.side-by-side div {
  width: 50%;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
